$blue: #007bff !important;
$indigo: #6610f2 !important;
$purple: #6f42c1 !important;
$pink: #e83e8c !important;
$red: #dc3545 !important;
$orange: #fd7e14 !important;
$yellow: #ffc107 !important;
$green: #28a745 !important;
$teal: #20c997 !important;
$cyan: #17a2b8 !important;
$white: #fff !important;
$gray: #6c757d !important;
$gray-dark: #343a40 !important;
$primary: #007bff !important;
$secondary: #6c757d !important;
$success: #28a745 !important;
$info: #17a2b8 !important;
$warning: #ffc107 !important;
$danger: #dc3545 !important;
$light: #f8f9fa !important;
$dark: #343a40 !important;

:root {
    
--blue: #{$blue};
--indigo: #{$indigo};
--purple: #{$purple};
--pink: #{$pink};
--red: #{$red};
--orange: #{$orange};
--yellow: #{$yellow};
--green: #{$green};
--teal: #{$teal};
--cyan: #{$cyan};
--white: #{$white};
--gray: #{$gray};
--gray-dark: #{$gray-dark};
--primary: #{$primary};
--secondary: #{$secondary};
--success: #{$success};
--info: #{$info};
--warning: #{$warning};
--danger: #{$danger};
--light: #{$light};
--dark: #{$dark};
}